/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* utility  */
.d-flex {
    display: flex;
    align-items: center;
}

.j-center {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}


/* color styles  */
:root {
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --text-card: #556878;
    --contrast-color: #FDC15F;
}

/* header  */
header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}


header a {
    color: var(--light-color);
    text-decoration: none;
}

header nav ul {
    display: none;
}

/* main  */
main {
    margin-top: 7rem;
}
.even {
    background-color: var(--primary-color);
}

.card {
    background-color: var(--bg-card);
    border-radius: 1rem;
    padding: 1.5rem 1rem 0 1rem;
    /* margin-bottom: 1rem; */
    font-weight: bold;
}

#intro .card h2 {
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

#intro .card p {
    color: var(--text-card);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    letter-spacing: 3.5px;
}

.fa-apple {
    padding-right: .5rem;
}
.demo-image {
    margin-top: 2rem;
}

main a {
    text-decoration: none;
}

.card-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);

}


/* footer  */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);

}



/* media query  */
@media screen and (min-width: 768px) {
    .flex {
        display: flex;
        flex-flow: row wrap;
        
        gap: 10px;
    }

    #intro .card {
        width: calc((100% / 3) - 20px);
        padding-bottom: 0;
    }

    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 30px);
    }

    .demo-image {
        width: 45%;
        
    }

    
    
    
   


}






@media screen and (min-width: 922px) {
    header nav ul {
        display: block;
        gap: 1rem;
        
    }

    #header-icon {
        display: none;
    }

    .mq-flex {
        display: flex;
        
    }

    .btn {
        background-color: var(--light-color);
        color: black;
        padding: .5rem 1rem;
        border-radius: 1rem;
    }

    .demo-image {
        margin-top: 2rem;
        
    }

    .card-left {
        width: 55%;
        
        
    }

    /* #intro .card:first-child{
        padding-top: 0;
        padding-right: 0;
        
    } */


    .flex-end {
        align-self: flex-end;
    }
    
}