/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 1rem;
}
/* color styles  */
:root {
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
}

/* header  */
header {
    background-color: var(--secondary-color);
}

/* main  */

.even {
    background-color: var(--primary-color);
}


footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}