/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 1rem;
}

ul {
    list-style: none;
}
/* color styles  */
:root {
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
}

/* header  */
header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--light-color);
}

header nav ul {
    display: none;
}

/* main  */
main {
    margin-top: 5rem;
}
.even {
    background-color: var(--primary-color);
}


footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}